/****FONT*****
******************/
.rowdies-light {
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;
}
    
.rowdies-regular {
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
}
    
.rowdies-bold {
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    font-style: normal;
}


/******BODY*******
*******************/
body {
    position: relative;
    font-family: "Rowdies", sans-serif;
    background-image: url("felix-mooneeram-evlkOfkQ5rE-unsplash.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    color: white;
    margin: 0;
    padding-bottom: 80px;
}


/******HEARDER********
********FOOTER********/
header {
    display: flex;
    border-bottom: solid;
    padding-left: 10px;
    padding-right: 10px;
    /* background-color: rgba(87, 86, 86, 0.619); */
    background-color: rgba(216, 167, 103, 0.69);
    color: rgb(26, 25, 25);
    margin-bottom: 10px;
}

footer {
    position: absolute;
    border-top: solid;
    padding-left: 10px;
    padding-right: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color: rgba(216, 167, 103, 0.69);
    color: rgb(26, 25, 25);
}


/*****BUTTONS******
*****************/
.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonsAndLabel {
    align-items: center;
    text-align: center;
    font-size: large;
    width: 50%;
}

button {
   margin-top: 1em;
   margin-bottom: 3em;
   border-radius: 10px;
   margin-left: 0.5em;
   margin-right: 0.5em;
   background-color: rgb(235, 227, 227);
   transition: transform 0.4s;
   padding: 15px;
   font-family: "Rowdies", sans-serif;
}

button:hover {
    transform: scale(1.1);
}

button:disabled {
    cursor: not-allowed;
}

.buttonEvolution {
    border-color: rgb(78, 211, 78);
}

.buttonStopEvolution {
    border-color: rgb(211, 59, 59);
}

.buttonEvolution:hover {
    background-color: rgb(78, 211, 78);
}

.buttonStopEvolution:hover {
    background-color: rgb(211, 59, 59);
    color: white;
}

.closeButton {
    margin-top: 0.5em;
}


/***HEADER******
*****ELEMENT******/
.titleThrough {
    margin-left: 35%;
}

.titleTime {
    margin-left: 20%;
}

.description {
    margin-left: 10%;
    font-size: larger;
    width: 40%;
}


/******DECADE******
*********************/
.selectDecade{
    margin-left: 10px;
}

.decadeDisplay {
    padding: 20px;
    text-align: center;
    font-size:xx-large;
    text-decoration: underline;
}

.decadeContainer {
    display: flex;
}

.decadeContainers {
    min-height: 1000px;
}


/*****DETAILS******
********************/
:modal {
    border: 2px solid rgb(64, 60, 60);
    border-radius: 10px;
    background-color:beige;
    width: 50%;
}

.posterDiv img {
    width: 20%;
}

.overviewContainer {
    background-color: rgba(128, 128, 128, 0.693);
    border-radius: 10px;
    padding: 5px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: justify;
}


/****TOP 3******
******LAST 7********/
.titlePosterThree {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px;
}

.topThree {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-evenly;
}

.topLastSeven {
    margin-top: 5%;
    display: flex;
    max-width: 100%;
}

.moviePosterThree {
    width: 15em;
    border-radius: 10px;
}

.moviePosterSeven {
    margin-top: 15px;
    margin-left: 50px;
    width: 5em;
    box-shadow: 0px 0px 10px 0px #9f9c9c;
}

.podiumPosition1 {
    background-image: url("medaille-dor.png");
    background-size: cover;
    background-position: center;
    height: 10em;
    width: 10em;
}

.podiumPosition2 {
    background-image: url("medaille-dargent.png");
    background-size: cover;
    background-position: center;
    height: 10em;
    width: 10em;
}

.podiumPosition3 {
    background-image: url("medaille-de-bronze.png");
    background-size: cover;
    background-position: center;
    height: 10em;
    width: 10em;
}

.titleThree {
    font-size:larger;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: antiquewhite;
    border-radius: 7px;
    color: rgb(19, 18, 18);
    padding: 0.5em;
}


/******FILM*******
*******STRIP******/
.titlePosterSeven {
    top: 200px;
    transform: translate(-10%);
    width: 300px;
    height: 150px;
    background: #111111;
    overflow: hidden;
  }

  /*Dotted effect*/
.titlePosterSeven::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0px;
    width: 8px;
    height: 8px;
    background: #5e5e5e;
    box-shadow: 15px 0px 0px #5e5e5e, 30px 0px 0px #5e5e5e, 45px 0px 0px #5e5e5e, 60px 0px 0px #5e5e5e, 75px 0px 0px #5e5e5e, 90px 0px 0px #5e5e5e, 105px 0px 0px #5e5e5e, 120px 0px 0px #5e5e5e, 135px 0px 0px #5e5e5e, 150px 0px 0px #5e5e5e, 165px 0px 0px #5e5e5e, 180px 0px 0px #5e5e5e, 200px 0px 0px #5e5e5e, 214px 0px 0px #5e5e5e, 228px 0px 0px #5e5e5e, 238px 0px 0px #5e5e5f, 252px 0px 0px #5e5e5e, 266px 0px 0px #5e5e5e, 280px 0px 0px #5e5e5e, 294px 0px 0px #5e5e5e, 308px 0px 0px #5e5e5e;
}
  
.titlePosterSeven::after {
    content: "";
    position: absolute;
    bottom: 4px;
    left: 0px;
    width: 8px;
    height: 8px;
    background: #5e5e5e;
    box-shadow: 15px 0px 0px #5e5e5e, 30px 0px 0px #5e5e5e, 45px 0px 0px #5e5e5e, 60px 0px 0px #5e5e5e, 75px 0px 0px #5e5e5e, 90px 0px 0px #5e5e5e, 105px 0px 0px #5e5e5e, 120px 0px 0px #5e5e5e, 135px 0px 0px #5e5e5e, 150px 0px 0px #5e5e5e, 165px 0px 0px #5e5e5e, 180px 0px 0px #5e5e5e, 200px 0px 0px #5e5e5e, 214px 0px 0px #5e5e5e, 228px 0px 0px #5e5e5e, 238px 0px 0px #5e5e5f, 252px 0px 0px #5e5e5e, 266px 0px 0px #5e5e5e, 280px 0px 0px #5e5e5e, 294px 0px 0px #5e5e5e, 308px 0px 0px #5e5e5e;
}

/*****BLUR AND FADE****
************************/
.blurBackground {
    filter: blur(1.5rem);
}

.modalFadeIn {
    animation: fadeIn 1s;
}

.fade-in {
    animation: fadeIn infinite alternate ease 2s;  
}

@keyframes fadeIn {
    0% { opacity: 0; };
  100% { opacity: 1; };
}



