.rowdies-light {
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;
}
    
.rowdies-regular {
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
}
    
.rowdies-bold {
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    font-style: normal;
}

body {
    position: relative;
    font-family: "Rowdies", sans-serif;
    background-image: url("felix-mooneeram-evlkOfkQ5rE-unsplash.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    color: white;
    margin: 0;
    padding-bottom: 80px;
}

/******HEARDER********
********FOOTER********/

header {
    display: flex;
    border-bottom: solid;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(87, 86, 86, 0.619);
    margin-bottom: 10px;
}

footer {
    position: absolute;
    border-top: solid;
    padding-left: 10px;
    padding-right: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color: rgba(87, 86, 86, 0.619);
}

/*****BUTTONS******
*****************/

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonsAndLabel {
    align-items: center;
    text-align: center;
    font-size: large;
}

button {
   margin-top: 1em;
   margin-bottom: 3em;
   border-radius: 10px;
   margin-left: 0.5em;
   margin-right: 0.5em;
   background-color: rgb(235, 227, 227);
   transition: transform 0.4s;
   padding: 15px;
   font-family: "Rowdies", sans-serif;
}

button:hover {
    transform: scale(1.1);
}

button:disabled {
    cursor: not-allowed;
}

.buttonEvolution {
    border-color: rgb(78, 211, 78);
}

.buttonStopEvolution {
    border-color: rgb(211, 59, 59);
}

.buttonEvolution:hover {
    background-color: rgb(78, 211, 78);
}

.buttonStopEvolution:hover {
    background-color: rgb(211, 59, 59);
    color: white;
}

.title {
    margin-right: 10%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.titleThrough {
    margin-left: 30%;
}

.titleTime {
    margin-left: 10%;
}

.selectDecade{
    margin-left: 10px;
}

.decadeDisplay {
    padding: 20px;
    text-align: center;
    font-size:xx-large;
    text-decoration: underline;
}

.description {
    margin-left: 10%;
    font-size: larger;
}

.decadeContainer {
    display: flex;
}

.detailsContainer{
    display: inline-block;
}

.overviewContainer {
    background-color: rgba(128, 128, 128, 0.693);
    border-radius: 10px;
    padding: 5px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: justify;
}

.closeButton {
    margin-top: 0.5em;
}

:modal {
    border: 2px solid red;
    border-radius: 10px;
    background-color:beige;
    width: 50%;
}

.posterDiv img {
    width: 20%;
};

.titlePosterThree {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px;
}

.topThree {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-evenly;
}

.movie {
    display: flex;
    flex-direction: column;
    max-width: 10em;
}

.topLastSeven {
    margin-top: 5%;
    display: flex;
    max-width: 100%;
}

.titlePosterSeven {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 10em;
    margin: 10px;
}


.moviePosterThree {
    max-width: 30%;
}

.moviePosterSeven {
    max-width: 40%;
}

datalist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    writing-mode:vertical-lr;
    width: 200px;
}
  
option {
    padding: 0;
}
  
input[type="range"] {
    width: 200px;
    margin: 0;
}

